.hero {
  position: relative;
  text-align: center;
  color: white;
}

.background {
  width: 100%;
  height: auto;
  opacity: 0.8;
  min-height: 80vh;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  margin: 10px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.features {
  text-align: center;
  padding: 50px 20px;
}

.feature-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card img {
  height: 150px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.card p {
  font-size: 1em;
  color: #555;
}

.how-it-works {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.step h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.step p {
  font-size: 1em;
  color: #555;
}

.call-to-action {
  padding: 50px 20px;
  text-align: center;
  background-color: #007bff;
  color: white;
}

.call-to-action h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.call-to-action button {
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.call-to-action button:hover {
  background-color: #0056b3;
  color: white;
}